* {
  box-sizing: border-box;
}

body {
  background-color: #e4db79;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-color: steelblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}
.c1 {
  background-color: red;
}
.c2 {
  background-color: rgb(167, 218, 49);
}
.c3 {
  background-color: rgb(12, 160, 32);
}
.c4 {
  background-color: rgb(149, 69, 116);
}
.c5 {
  background-color: rgb(83, 197, 112);
}
.c6 {
  background-color: rgb(153, 179, 10);
}
.c7 {
  background-color: rgb(67, 55, 55);
}
.c8 {
  background-color: rgb(39, 100, 138);
}
.c9 {
  background-color: rgb(231, 123, 123);
}
.c10 {
  background-color: rgb(190, 147, 54);
}
.c11 {
  background-color: rgb(75, 12, 12);
}
.c12 {
  background-color: rgb(107, 36, 189);
}
.c13 {
  background-color: rgb(110, 82, 6);
}
.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}

h1 {
  font-size: 80px;
  color: white;
  text-shadow: 5px 5px red;
}
